# Python Basics NoteBook

In [1]:
#Write a Python code to return your Python version
import sys
sys.version

'3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]'

In [10]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
id="513"
print("customer id=" +id)

customer id=513

In [12]:
#Run the following statement, why there is an error

id=id+1

TypeError: can only concatenate str (not "int") to str

In [15]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
variable_id=int(1)
new_id=variable_id+1
new_id

2

In [39]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.
a = "Twinkle, twinkle, little star\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky."
print(a)

Twinkle, twinkle, little star
	How I wonder what you are!
		Up above the world so high,
			Like a diamond in the sky.

In [41]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [42]:
# Print the element on the 13th index in the string
print(course[13])

t

In [43]:
# Find the length of string
print(len(course))

23

In [44]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [45]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:14])

Dat

In [48]:
# Get every third element in the range from index 0 to index 20
course[0:20:3]

'Ph ra i'

In [57]:
# Concatenate course string with ", AI & Development"
course_1 = course+", AI & Development"

In [58]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
course_1.replace(" ","_")

'Python_for_Data_Science,_AI_&_Development'

In [56]:
# Convert all the characters in string to upper case

In [59]:
course_1.upper()

'PYTHON FOR DATA SCIENCE, AI & DEVELOPMENT'